header{
	text-align: center;
	font-size: medium;
	box-sizing: content-box;
	background-color:aliceblue;

}

li {
	font-
	text-decoration: underline;
	text-emphasis: blanchedalmond;
}

img {
	display: block;
	margin-left: auto;
	margin-right: auto;
	border-radius: 100px;
}
.BarraLateral {
	font-style: italic;
	text-justify: newspaper;
}
a {
	font-size: xx-large;
	font-family: monospace;
}